.main {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../public/images/talking2.jpg');
    min-height: 95vh;
    
}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-decoration: underline;
    font-size: 1em;
    font-style: italic;
}