.backButton {

    min-width: 100%;
    border-radius: 8px;
    border-color: whitesmoke;
    background-color: #28a745;
    color: whitesmoke;
    font-family: "Roboto", Arial, sans-serif;
    opacity: 75%;
    box-shadow: inset;
    margin-top: 1%
    
}

.flexCenterColumn{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

}

.defaultGreenText{

    color: #3e8e41

}

.defaultGreenBackground{

    background-color: #3e8e41;

}

.defaultButton {

    background-color: #3e8e41;
    color:whitesmoke;
    box-shadow: 0.2cm;
    border-radius: 8px;
    border: 1px solid;
    margin:10px;
}

.defaultButton:hover{
    
    background-color:#28a745;

}

.headerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    width: 95%;
    height: fit-content;
    background-color: #3e8e41;
    color: white;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    margin: 7px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    opacity: 83%;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    min-width: 50%;
    transition: .5s ease;
}

.welcome-text {
    max-width: 800px;
    margin: 10px;
    padding:10px;
    background-color: #3e8e41;
    opacity: 80%;
    border-radius: 8px;
    color:whitesmoke;
  }

  .feature-list {
    list-style-type: none;
    padding: 0;
  }

  .feature-list li::before {
    content: '🔍'; /* Unicode character for magnifying glass */
    margin-right: 8px;
  }