@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');


body {
  background-image: url('/images/talking2.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.main {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
  position: relative;
}

.footer {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: aliceblue;
  text-decoration: underline;
  font-size: 1em;
  font-style: italic;
}

.smallCart{

  position: -webkit-sticky;
  position: sticky;
  top:5%;
  left:40%;
  background-color: #3e8e41;
  border: 1px solid white;
  z-index: 5;
  border-radius: 100%;
  height: fit-content;
  width: fit-content;
  padding: 10px;
 
}

.backButton {

  min-width: 100%;
  border-radius: 8px;
  border-color: whitesmoke;
  background-color: #28a745;
  color: whitesmoke;
  font-family: "Roboto", Arial, sans-serif;
  opacity: 75%;
  box-shadow: inset;
  margin-top: 1%
}

.flexCenterColumn {

  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.defaultGreenText {

  color: #3e8e41
}

.defaultGreenBackground {

  background-color: #3e8e41;

}

.defaultButton {

  background-color: #3e8e41;
  color: whitesmoke;
  box-shadow: 0.2cm;
  border-radius: 8px;
  border: 1px solid;
  margin: 10px;
  padding: 1em;
}

.defaultButton:hover {

  background-color: #28a745;
}

.headerDiv {
  font-family: 'Roboto Mono', monospace, sans-serif;
  font-weight: 400;
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  width: 95%;
  height: fit-content;
  background-color: #3e8e41;
  color: white;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  margin: 7px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
  opacity: 83%;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  min-width: 50%;
  transition: .5s ease;
}

.spinner {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  z-index: 55;
}

.spinner:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid teal;
  border-color: teal transparent teal transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1140px) {

  .flexCenterColumn {

    width: 80vw;
  }

}

@media (max-width: 431px) {

  .flexCenterColumn {

    width: 100vw;
  }

}