.cartProducts {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    position: absolute;
    top: 60px;
    z-index: 3;
    padding: 3px;
    border: 1px solid;
    border-radius: 8px;
    border-color: aliceblue;
}

.total {


    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: #3e8e41;
    transition: 0.5s ease-out;
}

.total:hover {

    color: grey;
    transform: scale(1.2);
}

.clearCart {

    background-color: red;
    opacity: 70%;
    color: aliceblue;
    font-size: small;
    border-radius: 8px;
    transition: 0.3s ease-out;
    margin:5px;
    margin-bottom: 10px;
    padding: 3px;
}

.clearCart:hover{

    opacity: 100%;
    transform: scale(1.1);
}



@media all and (max-width: 580px) {

    .cartProducts {


        top: 73%;

    }

}