.welcome-text {
    max-width: 800px;
    margin: 10px;
    padding:10px;
    background-color: #3e8e41;
    opacity: 80%;
    border-radius: 8px;
    color:whitesmoke;
  }

  .feature-list {
    list-style-type: none;
    padding: 0;
  }

  .feature-list li::before {
    content: '🔍'; 
    margin-right: 8px;
  }