.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 5px;
    width: 20%;
    height: 100%;
}

.bi.bi-cart {
    transition: 0.5s;
}

.bi.bi-cart:hover {
    transform: scale(1.09);
}

.cartItems {
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 1px;
    margin-bottom: 2px;
    color: white;
    background-color: red;
    border-radius: 100px;
    height: 15px;
    width: 15px;
}

.alert.alert-success.add {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25vw;
    transform: translateY(100%);
    transition: 0.5s;
}

.alert.alert-success.add.hidden {
    display: flex;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.miniCart {
    overflow: hidden;
    height: 400px;
    width: 25vw;
    position: absolute;
    transform: translateY(57.5%);
    opacity: 100%;
    color: black;
    background-color: lightgray;
}

.miniMenuRow {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    height: 25%;
    width: 100%;
    border: 1px;
    border-color: #3e8e41;
    transition: 0.5s;
}

.miniMenuRow:hover {
    border-left: #3e8e41 solid 2px;
    transform: scale(1.02);
}

.miniMenuP {
    display: flex;
    align-items: center;
    justify-content: center;
}