.info-container {
    
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #3e8e41;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon {
    margin-right: 10px;
}

.icon img {
    max-width: 24px;
    height: auto;
}

.info-text {
    flex: 1;
    color:#3e8e41;
}

.info-text i {
    font-style: italic;
}