.wrapped {
    /* blanchedalmond; */
    background-color: white;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

.wrapped:hover {

    transform: scale(1.1);
    transition: 0.3s ease-in;

}

.wrapped:hover .price {

    color: red;
}

.price {

    color: grey;
}

.column {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:5px;

}

.details {

    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color:rgb(216, 241, 177); */
    background-color: rgb(234, 240, 223);
    padding: 5px;
    margin: 5px;
}

.columnLink {

    text-decoration: none;
    color: #3e8e41;
    font-weight: bold;
}

.preview {
    width: 100%;
    max-width: 100%;
    max-height: 25%;
}

@media all and (max-width:442px) {

    .wrapped{

        background-color: transparent;

    }
}